@import "./norm.css";
@font-face {
  font-family: 'Silk Serif Regular';
  font-style: normal;
  font-weight: normal;
  src: local('Silk Serif Regular'), url('./silk-serif-cufonfonts-webfont/Silk Serif Regular.woff') format('woff');
}
  

:root {
  --toolsize: 5rem;
  --headsize: 2rem;
  --midsize: 1.5rem;
  --smallsize: .75rem;
  
  --gutter: 1rem;
  --gutter-: -1rem;
  --gutter2: 2rem;
  --gutter2-: -2rem;
  --gutterx: calc(var(--gutter) / 2);
  --gutterx-: calc(var(--gutter) / -2);
  --guttery: calc(var(--gutter) / 4);
  --gutterz: calc(var(--gutter) / 8);
  --spacer: calc(4 * var(--gutter));

  /*--figurewidth: 72ch;*/

  --darkgray: #0f2537;
  --midtone: #1f4667;
  --light: #e2e8f0;
  --lighter: #f9fafb;
}

:root {
  /*font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji;*/
  font-family: sans-serif;
  font-size: 1rem;
  --user-font-scale: 1rem - 16px;
  font-size: clamp(0.875rem, 0.4626rem + 1.0309vw + var(--user-font-scale), 1.125rem);
  /*font-size: clamp(1rem, 1rem + 1.0309vw + var(--user-font-scale), 1.125rem);*/
}
html {
  /*background: hsl(207, 54%, 96%);*/
}
body {
  background: radial-gradient(circle, hsl(207, 54%, 96%) 0%, #f9fafb 50%, hsl(207, 54%, 92%) 100%);
  min-height: 100vh;
  margin-inline: auto;
/*display: grid;
  justify-content: center;*/
  color: var(--dark, #111827);
  filter: hue-rotate(5deg) contrast(1.1);
  padding-top: 1rem;
}

/*@media (prefers-color-scheme: dark) {
  body {
    background: #111827;
    color: #fff;
  }
}*/

main {
  width: min(100%, 116ch);
  margin-inline: auto;
  line-height: 1.65;
  display: flex;
  gap: 1.5rem;
  /*flex-wrap: wrap;*/
  flex-direction: column;
  /*align-items: center;*/
  padding: var(--spacer) var(--gutterx) var(--gutter);
}
article {
  width: min(100%, 80ch);
  margin-inline: auto;
  line-height: 1.65;
  display: flex;
  flex-direction: column;
  /*align-items: center;*/
  padding-inline: var(--gutter);
}
article > :first-child {
  padding-top: var(--spacer);
}
article > :first-child::first-letter {
  /*color: blue;*/
  font-size: 2em;
  font-weight: 100;
  vertical-align: bottom;
  line-height: 1em;
  font-family: "Silk Serif Regular", serif;
}
article > :last-child {
  padding-bottom: var(--gutter);
}
svg {
  fill: inherit;
  stroke: inherit;
  margin: 0 auto;
  max-width: 100%;
}
svg text {
  margin: 0 auto;
}

figure {
  margin: 0 0 var(--gutter2);
}

/*main p, main ul, main ol, main dl {
  width: min(100%, 80ch);
}*/

blockquote {
  margin-inline: auto;
  width: fit-content;
}

blockquote, em, i {
  font-family: "Silk Serif Regular", serif;
  font-size: 1.15em;
  line-height: 1.15em;
}

b, strong {
  font-family: 'Silk Serif Regular';
  text-rendering: geometricPrecision;
  font-size: 1.16em;
  line-height: 1.15em;
  font-weight: lighter;
}

h1, h2, h3, h4, h5 {
  /* font-family: system-ui, sans-serif; */
  font-family: "SilkSerif-Regular", serif;
}

h1, h2, h3, h4, h5, h6 {
  line-height: 1.25em;
  padding-inline: 0.5rem;
  color: var(--midtone, #1f4667);
}
/*h1 {
  font-size: 2.5rem;
}
h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1.75rem;
}

h4 {
  font-size: 1.5rem;
}

h5 {
  font-size: 1.25rem;
}

h6 {
  font-size: 1rem;
}*/

p, ul, ol, dl, figure {
  margin: 0.67em 0;
}

figcaption {
  font-size: 96%;
  word-wrap: break-word;
  text-align: center;
}
figcaption a {
  font-style: italic;
}

p a {
  text-decoration: revert;
}

p {
  width: inherit;
}

span {
  display: inline;
}